﻿@model IEnumerable<Schooly.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All our Courses</h2>
@*@if (this.User.IsInRole("admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}*@

<h4>Filter:</h4>
<table>
    <tr>
        <td>
            Course name:
        </td>
        <td>
            <input type="text" id="filterCourseNameText" onkeyup="submitFilter(event)" />
        </td>
    </tr>
    <tr>
        <td>
            Credits:
        </td>
        <td>
            <input type="text" id="filterCreditsText" onkeyup="    submitFilterIfNumeric(event)" onkeypress="    return creditsIsNumeric(event);"  ondrop="    return false;" onpaste="    return false;" />
            <span id="filterCreditsError" style="color: Red; display: none">* Input digits (0 - 9)</span>
        </td>
    </tr>
    <tr>
        <td>
            Price:
        </td>
        <td>
            <input type="text" id="filterPriceText" onkeyup="   submitFilterIfNumeric(event)" onkeypress="return priceIsNumeric(event);"  ondrop="return false;" onpaste="return false;" />
            <span id="filterPriceError" style="color: Red; display: none">* Input digits (0 - 9)</span>
        </td>
    </tr>
</table>

<table id="CoursesTable" class="table">
    <thead>
        <tr>
            <td>
                Course name
            </td>
            <td>
                Credits
            </td>
            <td>
                Price
            </td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<img src="../../Content/ajax-loader.gif" alt='loading' class="loading">
<br /><br /><br />

<p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
</p>

@section scripts {
    <script type="text/javascript">
        $(function () {
            loadCourses();
        });

        function loadCourses(courseName, credits, price) {
            var queryString = "?";
            if (courseName !== undefined) {
                queryString += "Title=" + courseName;
            }
            if (credits != undefined) {
                if (queryString.length > 1) {
                    queryString += "&Credits=" + credits;
                } else {
                    queryString += "Credits=" + credits;
                }
            }
            if (price != undefined) {
                if (queryString.length > 1) {
                    queryString += "&Price=" + price;
                } else {
                    queryString += "Price=" + price;
                }
            }

            var functionLink = "../Courses/GetCourses";
            if (queryString.length > 1) {
                functionLink += queryString;
            }

            $.getJSON(functionLink, function (GetCourses) {
                for (var i = 0; i < GetCourses.length; i++) {
                    var course = GetCourses[i];
                    var tr = $("<tr>");

                    var titleTd = $("<td>");
                    titleTd.html(course["Title"]);
                    tr.append(titleTd);

                    var creditsTd = $("<td>");
                    creditsTd.html(course["Credits"]);
                    tr.append(creditsTd);

                    var priceTd = $("<td>");
                    priceTd.html(course["Price"]);
                    tr.append(priceTd);
                    
                    if ('@ViewBag.IsAdminLogged' == 'True') {
                        tr.append($('<a href=\"../Courses/Edit/' + String(course["CourseID"]) + ' \">' + 'edit' + '</a><text> | </text>'));
                        tr.append($('<a href=\"../Courses/Details/' + String(course["CourseID"]) + ' \">' + 'details' + '</a><text> | </text>'));
                        tr.append($('<a href=\"../Courses/Delete/' + String(course["CourseID"]) + ' \">' + 'delete' + '</a>'));
                    }

                    tr.appendTo("#CoursesTable");
                }
                $('.loading').hide();
            });
        }

        var specialKeys = new Array();
        specialKeys.push(8); //Backspace

        function creditsIsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode;
            var ret = ((keyCode >= 96 && keyCode <= 105) || (keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            $("#filterCreditsError").css("display", ret ? "none" : "inline");
            return ret;
        }

        function PriceIsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode;
            var ret = ((keyCode >= 96 && keyCode <= 105) || (keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            $("#filterPriceError").css("display", ret ? "none" : "inline");
            return ret;
        }

        function submitFilterIfNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode;
            var ret = ((keyCode >= 96 && keyCode <= 105) || (keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            if (ret) {
                submitFilter(e);
            }
        }

        function submitFilter(e) {
            $('.loading').show();
            $("#CoursesTable tbody").empty();

            var courseName = $("#filterCourseNameText").val();
            var credits = $("#filterCreditsText").val();
            var price = $("#filterPriceText").val();

            loadCourses(courseName, credits, price);
        };
    </script>
}







@*@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Price)
        </th>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.CourseID })
            
            @if (this.User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) <text> | </text>
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            }
        </td>
    </tr>
}*@

