﻿@model IEnumerable<Schooly.Models.PlacesInSchool>
@{
    ViewBag.Title = "Places In Schooly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students addresses</h2>

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

@if (this.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<p>
    @Html.ActionLink("Enrollment", "Index", "Enrollments")
</p>

@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoLat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoLong)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoLat)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.GeoLong)
            </th>
            <td>
                @if (this.User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>

<div id="map_canvas" style="height: 400px"></div>

<br /><br />

    @section scripts {
        <script type="text/javascript">
            $(function () {
                google.maps.visualRefresh = true;
                var mapOptions = {
                    zoom: 11,
                    center: new google.maps.LatLng(31.8500000, 34.7817680),
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                $.getJSON("../Places/GetAllPlaces", function (getAllPlaces) {
                    for (var i = 0; i < getAllPlaces.length; i++) {
                        var marker = new google.maps.Marker({
                            'position': new google.maps.LatLng(getAllPlaces[i]["GeoLat"], getAllPlaces[i]["GeoLong"]),
                            'map': map,
                            'title': getAllPlaces[i]["PlaceName"]
                        });

                        var content = "<div><h2>" + getAllPlaces[i]["PlaceName"] + "</h4></div>";
                        bindInfoWindow(marker, map, new google.maps.InfoWindow(), content);
                    }
                });

                $('.loading').hide();
            });

            function bindInfoWindow(marker, map, infowindow, html) {
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.setContent(html);
                    infowindow.open(map, marker);
                });
            }
        </script>
    }
