﻿@model IEnumerable<Schooly.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>All Our Students</h2>
<h4>Filter:</h4>
<table>
    <tr>
        <td>
            First name:
        </td>
        <td>
            <input type="text" id="filterFirstNameText" onkeyup="submitFilter(event)" />
        </td>
    </tr>
    <tr>
        <td>
            Last Name:
        </td>
        <td>
            <input type="text" id="filterLastNameText" onkeyup="submitFilter(event)" />
        </td>
    </tr>
    <tr>
        <td>
            Gpa:
        </td>
        <td>
            <input type="text" id="filterGpaText" onkeypress="return GpaIsNumeric(event);" onkeyup="    submitFilterIfNumeric(event)" ondrop="    return false;" onpaste="    return false;" />
            <span id="filterGpaError" style="color: Red; display: none">* Input digits (0 - 9)</span>
        </td>
    </tr>
    <tr>
        <td>
            Years in schooly:
        </td>
        <td>
            <input type="text" id="filterYearsText" onkeypress="return YearsIsNumeric(event);" onkeyup="    submitFilterIfNumeric(event)" ondrop="    return false;" onpaste="    return false;" />
            <span id="filterYearsError" style="color: Red; display: none">* Input digits (0 - 9)</span>
        </td>
    </tr>
</table>
<br />
<br />
<table id="StudentTable" class="table">
    <thead>
        <tr>
            <td>
                First name
            </td>
            <td>
                Last Name
            </td>
            <td>
                GPA
            </td>
            <td>
                Years In Schooly
            </td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<img src="../../Content/ajax-loader.gif" alt='loading' class="loading">

<br /><br /><br />

<p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
</p>

@section scripts {
    <script type="text/javascript">
        $(function() {

            loadStudents();
        });

        function loadStudents(firstName, lastName, gpa, yearsInSchooly) {

            var queryString = "?";
            if (firstName !== undefined) {
                queryString += "firstName=" + firstName;
            }
            if (lastName != undefined) {
                if (queryString.length > 1) {
                    queryString += "&LastName=" + lastName;
                } else {
                    queryString += "LastName=" + lastName;
                }
            }
            if (gpa != undefined) {
                if (queryString.length > 1) {
                    queryString += "&gpa=" + gpa;
                } else {
                    queryString += "gpa=" + gpa;
                }
            }
            if (yearsInSchooly != undefined) {
                if (queryString.length > 1) {
                    queryString += "&yearsInSchool=" + yearsInSchooly;
                } else {
                    queryString += "yearsInSchool=" + yearsInSchooly;
                }
            }

            var functionLink = "../Student/GetStudents";
            if (queryString.length > 1) {
                functionLink += queryString;
            }

            $.getJSON(functionLink, function (GetStudents) {
                for (var i = 0; i < GetStudents.length; i++) {
                    var student = GetStudents[i];
                    var tr = $("<tr>");

                    var firstNameTd = $("<td>");
                    firstNameTd.html(student["FirstMidName"]);
                    tr.append(firstNameTd);

                    var lastNameTd = $("<td>");
                    lastNameTd.html(student["LastName"]);
                    tr.append(lastNameTd);

                    var gpaTd = $("<td>");
                    gpaTd.html(student["Gpa"]);
                    tr.append(gpaTd);

                    var yearsInSchoolTd = $("<td>");
                    yearsInSchoolTd.html(student["YearsInSchool"]);
                    tr.append(yearsInSchoolTd);
                    
                    if ('@ViewBag.IsAdminLogged' == 'True')
                    {
                        tr.append($('<a href=\"../Student/Edit/' + String(student["ID"]) + ' \">' + 'edit' + '</a><text> | </text>'));
                        tr.append($('<a href=\"../Student/Details/' + String(student["ID"]) + ' \">' + 'details' + '</a><text> | </text>'));
                        tr.append($('<a href=\"../Student/Delete/' + String(student["ID"]) + ' \">' + 'delete' + '</a>'));
                    }

                    tr.appendTo("#StudentTable");
                }
                $('.loading').hide();
            });
        }

        var specialKeys = new Array();
        specialKeys.push(8); //Backspace

        function GpaIsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode;
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            $("#filterGpaError").css("display", ret ? "none" : "inline");
            return ret;
        }

        function YearsIsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode;
            var ret = ((keyCode >= 96 && keyCode <= 105) || (keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            $("#filterYearsError").css("display", ret ? "none" : "inline");
            return ret;
        }

        function submitFilterIfNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode;
            var ret = ((keyCode >= 96 && keyCode <= 105) || (keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            if (ret) {
                submitFilter(e);
            }
        }

        function submitFilter(e) {
            $('.loading').show();
            $("#StudentTable tbody").empty();

            var firstName = $("#filterFirstNameText").val();
            var lastName = $("#filterLastNameText").val();
            var gpa = $("#filterGpaText").val();
            var yearsInSchooly = $("#filterYearsText").val();

            loadStudents(firstName, lastName, gpa, yearsInSchooly);
        };
    </script>
}