﻿@font-face {
   font-family: myFirstFont;
   src: url('/Images/Cocomat Light-trial.ttf'); 
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* ------------------------------------------------------*/

/*------------------------------
=NAVIGATION
------------------------------*/

nav {
	position: absolute;
	left: 0;
	width: 100%;
	/*background: url("images/nav_background.png");*/
  background: -webkit-linear-gradient(#333, #222); /*Safari 5.1-6*/
  background: -o-linear-gradient(#333, #222); /*Opera 11.1-12*/
  background: -moz-linear-gradient(#333, #222); /*Fx 3.6-15*/
  background: linear-gradient(#333, #222); /*Standard*/
}

	nav ul {
		margin: 0 auto;
		width: 940px;
		list-style: none;
	}

		nav ul li {
			float: left;
		}
		
			nav ul li a {
				display: block;
				margin-right: 20px;
				width: 140px;
				font-size: 14px;
				line-height: 44px;
				text-align: center;
				text-decoration: none;
				color: #777;
			}
			
				nav ul li a:hover {
					color: #fff;
				}
			
			nav ul li.selected a {
				color: #fff;
			}
			
			nav ul li.subscribe a {
				margin-left: 22px;
				padding-left: 33px;
				text-align: left;
				background: left center no-repeat
			}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
}

	#mainContent {
		display: table-cell;
		width: 620px;
		padding-right: 22px;
	}
	
	aside {
		display: table-cell;
		width: 300px;
        float:right;
		/*background: url("images/sidebar_background.png") top left;*/
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.1), rgba(0,0,0,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right, rgba(0,0,0,0.1), rgba(0,0,0,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, rgba(0,0,0,0.1), rgba(0,0,0,0)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0)) right; /*Standard*/
	}

/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
	/*background: url("images/sidebar_section_background.png") repeat-x;*/
	 background: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)); /*Fx 3.6-15*/
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0)); /*Standard*/
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

	aside section ul {
		margin: 0 0 0 22px;
		list-style: none;
	}
	
		aside section ul li a {
			display: block;
			text-decoration: none;
			color: #000;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
			}
/* ------------------------------------------------------*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.div studentsCity {
    color: crimson;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
