﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Schooly</h1>
</div>
<style>
    .dani {
        width: 150px;
        height: 100px;
        background: red;
        -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
        transition: width 2s;
    }

        .dani:hover {
            width: 300px;
        }
</style>
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=32.06632&lon=34.77782&name=Tel%20Aviv&units=ca"> </iframe>
<div class="dani">
    <header>
        <canvas id="myCanvas" width="300" height="100" style="border:1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
    </header>
</div>
<body>
    <div class="row">
        <div class="col-md-4">
            <video controls="controls" width="300" height="240">
                <source src="/Images/shauli.m4v" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <p>
                Schooly is one of the top 5 schools administration systemin the world.
                All our students like to come every morning to school.
            </p>
            <div class="newspaper">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
            </div>
        </div>
        <aside>
            <section>
                <h3>Aside Title</h3>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Places", "Index", "Places")</li>
                </ul>
                </section>
            <section> 
                <h3>Dani</h3>
                <ul>
                    <li>@Html.ActionLink("Students", "Index", "Student")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                    </ul>
            </section>
            <section> 
                <h3>Roy</h3> 
                <ul>
                    <li>@Html.ActionLink("Students Grades", "StudentCity", "Statistics")</li>
                    <li>@Html.ActionLink("Calculus Age statistic", "CalculusAge", "Statistics")</li>
                </ul>
</section>
</aside>
    </div>
    <script>
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.font = "30px Arial";
        ctx.fillText("Welcome to Schooly", 10, 50);
    </script>
</body>
