﻿@model IEnumerable<Schooly.Models.AssignmentViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistics Viewer</h2>

@*Average grade vs age

    average age per course

    average grade per course

    Search for a student with params (first name, last name, city)

    Search for a course with params (title, credits, price)*@

<table>
    <thead><tr><th>Number of students</th><th>Names of students</th></tr></thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr><th colspan="2" align="center">@group.CourseName</th></tr>
            <tr>
                <td> @group.NumOfStudents</td>

                @foreach (var studentInfo in group.StudentsNames)
                {
                    <td><pre>@studentInfo.FName  @studentInfo.LName </pre></td>
                }
            </tr>
        }
    </tbody>
</table>


<!-- #region TEMP -->
@*<table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gpa)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.FirstMidName.ToString(), "FirstNameSearch", new { id = item.ID })
                </td>
                <td>
                    @Html.ActionLink(item.City.ToString(), "CitySearch", new { id = item.ID })
                </td>
                <td>
                    @Html.ActionLink(item.Gpa.ToString(), "GpaSearch", new { id = item.ID })
                </td>
            </tr>
        }
    </table>*@












<!-- #endregion -->