﻿
@{
    ViewBag.Title = "StudentsGrades";
}

<h2>Students Grades</h2>

<img src="../../Content/ajax-loader.gif" alt='loading' class="loading">

<div id="studentsGrades"></div>
<br />

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        var margin = { top: 20, right: 20, bottom: 30, left: 40 },
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

        var y = d3.scale.linear()
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(1, "");

        var svg = d3.select("#studentsGrades").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("style", "fill:rgb(51, 102, 153)")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        d3.tsv("GetStudentsGradesCount", type, function (error, data) {
            x.domain(data.map(function (d) { return d.letter; }));
            y.domain([0, d3.max(data, function (d) { return d.frequency; })]);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
              .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Number of students");

            svg.selectAll(".bar")
                .data(data)
              .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function (d) { return x(d.letter) + 40; })
                .attr("width", 50)
                .attr("y", function (d) { return y(d.frequency); })
                .attr("height", function (d) { return height - y(d.frequency); });

            $('.loading').hide();
        });

        function type(d) {
            d.frequency = +d.frequency;
            return d;
        }

    </script>

@section scripts
{
    @Scripts.Render("~/Scripts/d3.js")
    @Scripts.Render("~/Scripts/d3.min.js")
}

